<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting System</title>
</head>
<body>
    <div style="text-align: center; top:10px;">
        <h1>Welcome to online voting system</h1>
        <br>
        <h2>Work in progress...</h2>
        <br>
        <a href="">Election Commission</a>
        <br>
        <a href="">Election Staff</a>
        <br>
        <a href="">Party Registration</a>
        <br>
        <a href="">Party Login</a>
        <br>
        <a href="{% url 'user_register' %}">User Registration</a>
        <br>
        <a href="{% url 'user_login' %}">User Login</a>
        <br>
    </div>


</body>
</html>


	

